body {
<<<<<<< HEAD
    background-image: url("背景.avif");
    background-size: cover;
}
.heading {
    text-align: center;
}
.table-heading {
    text-align: center;
}
.top-wrapper {
    margin: 200px 0px;
}
.content-wrapper {
    margin: 100px 0px;
}
.top-content-wrapper {
    margin-bottom: 100px;
}
.profile-wrapper {
    margin: 0px 40px;
}
.anchor{
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}
.bi {
    margin-right: 10px;
}
=======
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
>>>>>>> origin/main
