body {
    background-image: url("背景.avif");
    background-size: cover;
}
.heading {
    text-align: center;
}
.table-heading {
    text-align: center;
}
.top-wrapper {
    margin: 300px 0px;
}
.content-wrapper {
    margin: 100px 0px;
}