body {
    background-image: url("背景.avif");
    background-size: cover;
}
.heading {
    text-align: center;
}
.table-heading {
    text-align: center;
}
.top-wrapper {
    margin: 200px 0px;
}
.content-wrapper {
    margin: 100px 0px;
}
.top-content-wrapper {
    margin-bottom: 100px;
}
.profile-wrapper {
    margin: 0px 40px;
}
.anchor{
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}
.bi {
    margin-right: 10px;
}